extends ../layouts/main

block content
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .well.user_profile
        .row
          .col-xs-4
            .pull-right
              img(style='width: 100%;', src=author.profile_image_url.replace('_normal', ''))
          .col-xs-8
            h3 #{author.name}
            .row
              .col-xs-6
                div
                  b Username
                div @#{author.screen_name}
              .col-xs-6
              if author.location
                div 
                  b From 
                div #{author.location}
            br
            if author.description
              div
                b About me
              div #{author.description}
  .row
    .col-sm-12.col-md-10.col-md-offset-1
      each status, i in tweets
        if i % 2 == 0
          .row
            each tweet, j in tweets.slice(i, i+2)
              .col-sm-6.col-xs-12
                - var colors = ['success','info','danger','warning'];
                - var color = colors[Math.floor(Math.random() * colors.length)];
                .alert(class='alert-'+color)
                  .row
                    .col-xs-10
                        div #{tweet.text}
                        footer
                          cite &#8212; 
                            span.created_at #{tweet.created_at}
                    .col-xs-2
                      h2 #{i+j+1}


append footer
  script.
    $(function(){
      var created_at = $('.created_at');
      $.each(created_at, function(index, value){
        $(value).text(moment($(value).text(), 'ddd MMM DD HH:mm:ss ZZ YYYY').fromNow());
      });
    })