extends ../layouts/main

block content
  .row
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .well.user_profile
        each user in users
          .row
            .col-xs-4
              .pull-right
                img(style='width: 100%;', src=user.photo.replace('_normal', ''))
            .col-xs-8
              h3 #{user.name}
              .row
                .col-xs-6
                  div
                    b Username
                  a(href='/user/profile/'+user.twitter_id) @#{user.twitter_id}
                .col-xs-6
                if user.location
                  div 
                    b From 
                  div #{user.location}
              br
              if user.description
                div
                  b About me
                div #{user.description}
              div
                b Venues Visited
              each venues in venue
                div #{venues.name}
              br
              div 
                b Users Contacted
              each contacts in contact
                div #{contacts.contactedUser}
